.categories {
  display: flex;
  flex-direction: column; /* Cards stacked in rows */
  align-items: center;    /* Centering the cards */
}

.category-card1 {
  display: flex; /* Flexbox to arrange image and text side by side */
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 100px;
  margin-right: 20px;
  transition: transform 0.3s ease;
  width: 80%; /* Adjust width based on your design */
  height: 200px;
  text-align: left;
}

.category-image1 {
  flex: 1; /* Take 50% width of the card */
  background-size: cover;
  background-position: center;
}

#nike {
  background-image: url("../assets/nike.jpeg");
  height: 100%;
}

#puma {
  background-image: url("../assets/puma.png");
  height: 100%;
}

#adidas {
  background-image: url("../assets/adidas.png");
  height: 100%;
}

#reebok {
  background-image: url("../assets/reebok.png");
  height: 100%;
}

.category-details {
  flex: 2; /* Take remaining space for details */
  padding: 20px;
}

.category-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.category-card1:hover {
  transform: scale(1.05);
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .categories {
    flex-direction: column; /* Stack cards in rows on small screens */
  }

  .category-card1 {
    width: 90%; /* Cards take full width on smaller screens */
  }

  .category-image1 {
    height: 200px; /* Adjust the image size for smaller screens */
  }

  .category-details {
    padding: 10px;
  }
}
